 <footer class="footer container">
      <div class="footer-container">
        <div class="socials">
        <h3>Socials</h3>
         <ul id="socials-list">
          <li class="social">
            <ion-icon name="logo-instagram"></ion-icon>
            <a href="https://www.instagram.com/software_med?igsh=dnQ4MGZ4ZGZlazBi" class="social-link">Instagram</a>
          </li>

          <li class="social">
            <ion-icon name="logo-twitter"></ion-icon>
            <a href="https://x.com/Xiaoprince23?t=g5xs7jXp4BYuL1kjk2TrsQ&s=09" class="social-link">Twitter</a>
          </li>

          <li class="social">
            <ion-icon name="logo-whatsapp"></ion-icon>
            <a href="https://wa.me/+2347032616370" class="social-link">WhatsApp</a>
          </li>

          <li class="social">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="30" height="30" viewBox="0 0 50 50">
<path d="M25,2c12.703,0,23,10.297,23,23S37.703,48,25,48S2,37.703,2,25S12.297,2,25,2z M32.934,34.375	c0.423-1.298,2.405-14.234,2.65-16.783c0.074-0.772-0.17-1.285-0.648-1.514c-0.578-0.278-1.434-0.139-2.427,0.219	c-1.362,0.491-18.774,7.884-19.78,8.312c-0.954,0.405-1.856,0.847-1.856,1.487c0,0.45,0.267,0.703,1.003,0.966	c0.766,0.273,2.695,0.858,3.834,1.172c1.097,0.303,2.346,0.04,3.046-0.395c0.742-0.461,9.305-6.191,9.92-6.693	c0.614-0.502,1.104,0.141,0.602,0.644c-0.502,0.502-6.38,6.207-7.155,6.997c-0.941,0.959-0.273,1.953,0.358,2.351	c0.721,0.454,5.906,3.932,6.687,4.49c0.781,0.558,1.573,0.811,2.298,0.811C32.191,36.439,32.573,35.484,32.934,34.375z"></path>
</svg>
            <a href="https://t.me/AnonymousSnapdragon" class="social-link">Telegram</a>
          </li>
        </ul>
        </div>
        <div class="link">
          <h3>Links</h3>
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="#socials-list">Contact-Med</a></li>
          </ul>
        </div>
        
        <div class="newsletter">
            <h3>Newsletter</h3>
            <p>
              Sign up to be first to receive the latest stories inspiring us, case studies, and industry news.
            </p>
            <div class="input-wrapper">
              <input type="text" name="name" placeholder="Your name" required class="input-field" autocomplete="off">
              
              <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
            </div>

            <div class="input-wrapper">
              <input type="email" name="email_address" placeholder="Emaill address" required class="input-field"
                autocomplete="off">

              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
            </div>

            <a href="#" class="btn btn-primary">
              <span class="span">Subscribe</span>
              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>
          </div>
       </div>
       
        <div class="copyright">
        <p>
          &copy; Med-Blog 2024.<a href="#" class="copyright-link">Code By Software-Med</a>.
        </p>
      </div>
        
     </footer>
     <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
        <script>
          let openBtn = document.querySelector(".open-menu");
          
          let closeBtn = document.querySelector(".close-menu");
          
          let menu = document.querySelector(".navbar");
          
          let toggle = false
          
          openBtn.addEventListener("click", ()=>{
            menu.classList.add("show")
            menu.classList.remove("navLs")
          })
          
          closeBtn.addEventListener("click", ()=>{
            menu.classList.add("navLs")
            menu.classList.remove("show")
          })
          
          
          
        </script>
