<header>
      <div class="nav">
        <h4><a href="/">MED-BLOG</a></h4>
        <nav>
          <ul class="navbar navLs">
            <li>
            <ion-icon class="menu close-menu" name="close-outline"></ion-icon>
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="#socials-list">Contact-Med</a></li>
          </ul>
          <button class="N-mobile">Search</button>
          <ion-icon class="menu open-menu" name="menu-outline"></ion-icon>
        </nav>
      </div>
    </header>
